* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.808);
}

.calendar {
  width: 100%;
  max-width: 45rem;
  background-color: #ffffff94;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.month {
  width: 100%;
  height: 12rem;
  background-color: #6ca0d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(17, 248, 248, 0.1);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.month h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #333333;
}

.weekdays {
  width: 100%;
  padding: 0.5rem 0.4rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.2rem;
  background-color: #f0f0f0;
  border-bottom: 1px solid #d1d1d1;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 143, 209, 0.288);
  color: #4e4747;
  text-align: center;
}

.days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.2rem;
  padding: 0.5rem 0.2rem;
  background-color: #ffffff;
}

.days div {
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem;
  margin: 0.2rem;
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.days div:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #6ca0d8;
  color: #ffffff;
  font-weight: bold;
}

.content-section {
  flex: 1;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow-y: auto;
  margin-bottom: 2rem;
}

.date-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #e0e0e0;
  background: url('Meeting.webp') center/cover no-repeat;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.year {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.year-label {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.slots-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.time-slot {
  padding: 0.6rem;
  font-size: 1.3rem;
  text-align: center;
  background-color: #ffffff9d;
  border: 1px solid #312a2a;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.time-slot:hover {
  background-color: #1e92ff6e;
  transform: scale(1.05);
  border-color: #059cf3;
  color: #ffffff;
}

.date-heading {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  border: 2px solid #5555554d;
  padding: 0.5rem;
  background-color: #9fe9ff67;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.date-heading:hover {
  background-color: #ffffff80;
  color: #000000;
  border-color: #777;
  cursor: pointer;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Confirm and Cancel Buttons */
#confirmButton,
#cancelButton {
  display: inline-block;
  margin: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#confirmButton {
  background-color: #1e92ff;
  color: white;
}

#cancelButton {
  background-color: #ddd;
}

#teamNameModal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#teamNameInput,
#teamNameSelect {
  width: 100%;
  padding: 10px;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: auto;
}

#teamNameSubmit {
  padding: 8px 16px;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
}

#teamNameSubmit:hover {
  background-color: #0056b3;
}

#teamNameCancel {
  padding: 2px 8px;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #d1d1d1;
  color: #333;
  border: 1px solid #aaa;
  outline: none;
}

#teamNameCancel:hover {
  background-color: #b3b3b3;
  border-color: #888;
}
